h1 {
	font-size: 138.5%;
}
h2 {
	font-size: 123.1%;
}
h3 {
	font-size: 108%;
}
h1,h2,h3 {
	margin: 0.625em 0;
}
h1,h2,h3,h4,h5,h6,strong {
	font-weight:bold;
}
abbr,acronym {
	border-bottom:1px dotted #000;
	cursor:help;
}
em {
	font-style:italic;
}
blockquote,ul,ol,dl {
	margin:1em;
}