@import "../styles/resets.css";
@import "../styles/base.css";
@import "../styles/grid.css";
@import "../styles/prism.css";

h1.font {
  font-family: 'Megrim', cursive, Arial, sans-serif;
  letter-spacing: 1px;
}
section {
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 1px;
}
.gridBox {
	background: url("../images/sg_grid_sub.png");
}
.left {
    float: left;
}
.header {
    padding: 0.376em 1.250em;
    display: flex;
    position: relative;
}
h1 {
  font-size: 278%;
}
.nav {
    background: #ffffff;
    padding: 0.376em 1.250em;
}
.nav a {
    text-decoration: none;
}
#collectionNav a .active {
    background: grey; /* old browsers */
    cursor:pointer;
}
.tiny {
  font-size: 38%;
  border-bottom: 1px solid #000;
  position: relative;
  bottom: 15px;
}
.dataTables_wrapper .dataTables_filter,
table.dataTable.no-footer {
    margin-bottom: 2em;
}
.dataTables_wrapper .dataTables_filter {
  font-size: 160%;
  font-family: 'Megrim', cursive, Arial, sans-serif;
  font-weight: bold;
}
.dataTables_wrapper .dataTables_filter input {
  font-family: 'Megrim', cursive, Arial, sans-serif;
  font-weight: bold;
    margin-left: 0.6em;
    padding: 3px 5px;
    border: none;
    background-image: linear-gradient(90deg, #24d2a0 0%, #fff 85%);
    font-size: inherit;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    border: none;
    background: none;
    background-image: linear-gradient(90deg, #24d2a0 0%, #fff 85%);
    border-radius: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #333 !important;
    border: none;
    text-decoration: underline;
    background-color: #24d2a0;
    background: #24d2a0;
    border-radius: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0.3em 1em 0.3em 0.5em;
    border-radius: 0;
    min-width: 1.5em;
    border: none;
}
.dataTables_wrapper {
    padding: 0.376em 1.250em 3em;
}
.footer {
  position: relative;
  padding: 0.625em 1.250em;
  bottom: 0;
}
/*====================================== DATATABLES */
tr.group,
tr.group:hover {
    background-color: #ddd !important;
    background-image: linear-gradient(90deg, #24d2a0 0%, #fff 80%);
}
em {
  color: #000;
}
a {
  color: #000;
}